<div id="sLinksHolder">
  <p id="linksBanner">Adopt a Pet Or Donate<span><a href="#" id="close" ng-click="ctrl.goHome()">X</a></span></p>
  <a href= "https://www.petfinder.com/"><img id="linkImage" src="/images/petfinder-logo-web_1.png" alt="pet finder logo"></a>
  <a href="https://bestfriends.org/">
  <img id="linkImage" ng-src="https://cdn.bestfriends.org/s3fs-public/bfas.png" alt="best friends logo">
  </a>
  <a href="http://www.humanesociety.org/">
  <img id="linkImage" ng-src="http://www.humanesociety.org/assets/images/global/logo.png" alt="humane society logo">
  </a>
  <a href="https://www.adoptapet.com/">
    <img id="linkImage" ng-src="https://images-ra.adoptapet.com/images/adoptapetlogo2017.svg" alt="adopt a pet logo">
  </a>
  <p id="linksBanner">Shop</p>
  <a href="http://us.mungoandmaud.com/">
    <img id="linkImage" ng-src="http://us.mungoandmaud.com/skin/frontend/default/mungonmaud/images/mungo-and-maud-logo.png" alt="mungo and maud logo">
  </a>

  <a href="https://barkshop.com/"></a>
  <img id="linkImage" ng-src="https://barkshop-production.barkcdn.net/assets/logo/logo-black-0333c6f884c2719d1303d812805d204b43a1f2f9028de1f6c4a368f9cd9a0c65.svg" alt="barkshop logo">
  </a>

  <a href="https://www.chewy.com/">
    <img id="linkImageChewy" ng-src="../images/chewy-com_coupons.png" alt="chewy.com logo">
  </a>
</div>
