




<img ng-src="http://www.furgetmenotrescue.org/uploads/6/5/2/3/65231497/published/petfinder-logo-web_1.jpg?1500125596" alt="pet finder logo">

<!-- ng-model set to empty string in app.js -->
<!-- <form ng-submit= "ctrl.getAnimals()">
  <label for=""></label> -->

<!-- ng-model set to empty string in app.js -->
<h1>Welcome to PetFinder</h1>
<!-- <form ng-submit= "ctrl.getAnimals()"> -->

  <!-- <input type="text" placeholder="search animals" ng-model="ctrl.animalType"/>
  <button type="submit">Search</button>
</form>
<div ng-repeat="animal in ctrl.animals">
    <img ng-src="https://www.petfinder.com/common/images/design/mastheads/no_logos_tophat-3-2010.png" alt="petfinder logo">

    <h3>Type:{{animals.animals}}</h3>
    <h3>Details: {{animal.animalDetails}}</h3>
</div>

    <h3>Type:{{animal.animals}}</h3>
    <h3>Details: {{animal.breed}}</h3>
</div> -->



  <!-- <input type="text" placeholder="search animals" ng-model="ctrl.animalType"/>
  <button type="submit">Search</button>
</form> -->
<!-- <div ng-repeat="animals in ctrl.animals">
    <img src="https://www.petfinder.com/common/images/design/mastheads/no_logos_tophat-3-2010.png" alt="petfinder logo">
    <h3>Type:{{animal.animal}}</h3>
    <h3>Details: {{animal.animalDetails}}</h3>
</div> -->

<form>
    <legend> Adopt a Pet </legend>
    <label for="aspecies">Pet Species</label>
    <input type="text" name="aspecies" placeholder="Pet Type IE 'dog', 'cat', etc."id="aspecies">
    <label for="zip">Zip</label>
    <input type="number" name="zip" placeholder="Your Zip"id="zip">
    <input type="submit" id="submitAQuery">
</form>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="/js/petfinder.js" charset="utf-8"></script>
